{% extends "avatar/base.html" %}
{% load i18n avatar_tags %}

{% block content %}
    <p>{% trans "Your current avatar: " %}</p>
    {% avatar user %}
    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_change' %}">
        {% csrf_token %}

        {% if not avatars %}
            <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
        {% else %}
            <ul>
                {{ form.as_ul }}
            </ul>
            <p><input type="submit" value="{% trans "Choose new Default" %}" /></p>
        {% endif %}

        <p></p>
        {{ upload_form.as_p }}

        <p><input type="submit" value="{% trans "Upload New Image" %}" /></p>
    </form>
{% endblock %}
